body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Roboto', sans-serif; /* Use Roboto font */

}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    overflow: hidden;
}

#background-video {
    height: 100vh;
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    object-fit: cover;
}

.bio-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent */
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Adjust as per your preference */
    max-width: 600px; /* Maximum width */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    text-align: center;
}

h1 {
    margin-top: 0;
    color: #333;
    font-size: 2em;
}

h2 {
    color: #555;
}

p {
    color: #666;
}

/* Additional styling */
